{% extends 'base.html' %} {% block title %}About{% endblock %} {% block content
%}
<img
  src="https://st4.depositphotos.com/1001877/40565/i/380/depositphotos_405650078-stock-photo-car-parts-spares-accesoires-auto.jpg"
  alt="Наш магазин"
  style="width: 600px"
/>
<p>
  Это главна страница нашего интернет магазина, на ней Вы всегда сможете найти
  самую актуальную информацию по действующим акционным предложениям и скидкам.
  Будем рабы если вы найдете товар, который Вам очень понравится!
</p>
{% endblock %}
